In [1]:
import pandas as pd

## ETL data polusi dari Open data Jakarta

### Tahun 2021

### Januari

In [638]:
df_januari = pd.read_csv('/home/yann/Documents/MSIB/Data Engineering Academy/8. Final Project/data/open_data_jakarta/indeks-standar-pencemar-udara-di-spku-bulan-januari-tahun-2021.csv')
df_januari.sample(10)

,tanggal,stasiun,pm10,pm25,so2,co,o3,no2,max,critical,categori
58,2021-01-28,DKI2 (Kelapa Gading),28,49,25,10,53,7,53,O3,SEDANG
1,2021-01-02,DKI1 (Bunderan HI),27,46,27,7,47,7,47,O3,BAIK
148,2021-01-25,DKI5 (Kebon Jeruk) Jakarta Barat,55,NaN,19,29,67,13,67,CO,SEDANG
44,2021-01-14,DKI2 (Kelapa Gading),28,49,11,6,65,11,65,O3,SEDANG
90,2021-01-29,DKI3 (Jagakarsa),28,16,17,9,48,4,48,O3,BAIK
46,2021-01-16,DKI2 (Kelapa Gading),49,71,13,10,67,9,71,PM25,SEDANG
2,2021-01-03,DKI1 (Bunderan HI),44,58,25,7,40,13,58,PM25,SEDANG
140,2021-01-17,DKI5 (Kebon Jeruk) Jakarta Barat,---,NaN,20,15,32,9,32,CO,BAIK
35,2021-01-05,DKI2 (Kelapa Gading),35,52,---,8,77,7,77,O3,SEDANG
51,2021-01-21,DKI2 (Kelapa Gading),46,44,12,9,67,13,67,O3,SEDANG

##### Mencari nilai missing

In [639]:
df_januari.isna().sum()

tanggal      0
stasiun      0
pm10         0
pm25        62
so2          0
co           0
o3           0
no2          0
max          0
critical     2
categori     0
dtype: int64

In [640]:
df_januari.dropna(inplace=True)

In [641]:
df_januari.isna().sum()

tanggal     0
stasiun     0
pm10        0
pm25        0
so2         0
co          0
o3          0
no2         0
max         0
critical    0
categori    0
dtype: int64

##### Memformat tipe data

In [642]:
df_januari.info()

<class 'pandas.core.frame.DataFrame'>
Index: 93 entries, 0 to 92
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tanggal   93 non-null     object
 1   stasiun   93 non-null     object
 2   pm10      93 non-null     object
 3   pm25      93 non-null     object
 4   so2       93 non-null     object
 5   co        93 non-null     object
 6   o3        93 non-null     object
 7   no2       93 non-null     object
 8   max       93 non-null     int64
 9   critical  93 non-null     object
 10  categori  93 non-null     object
dtypes: int64(1), object(10)
memory usage: 8.7+ KB

In [643]:
df_januari.head()

,tanggal,stasiun,pm10,pm25,so2,co,o3,no2,max,critical,categori
0,2021-01-01,DKI1 (Bunderan HI),38,53,29,6,31,13,53,PM25,SEDANG
1,2021-01-02,DKI1 (Bunderan HI),27,46,27,7,47,7,47,O3,BAIK
2,2021-01-03,DKI1 (Bunderan HI),44,58,25,7,40,13,58,PM25,SEDANG
3,2021-01-04,DKI1 (Bunderan HI),30,48,24,4,32,7,48,PM25,BAIK
4,2021-01-05,DKI1 (Bunderan HI),38,53,24,6,31,9,53,PM25,SEDANG

In [644]:
# format data tanggal
df_januari['tanggal'].head()

0    2021-01-01
1    2021-01-02
2    2021-01-03
3    2021-01-04
4    2021-01-05
Name: tanggal, dtype: object

In [645]:
df_januari['tanggal'] = pd.to_datetime(df_januari['tanggal'])
df_januari['tanggal']

0    2021-01-01
1    2021-01-02
2    2021-01-03
3    2021-01-04
4    2021-01-05
        ...
88   2021-01-27
89   2021-01-28
90   2021-01-29
91   2021-01-30
92   2021-01-31
Name: tanggal, Length: 93, dtype: datetime64[ns]

In [646]:
df_januari[60:94]

,tanggal,stasiun,pm10,pm25,so2,co,o3,no2,max,critical,categori
60,2021-01-30,DKI2 (Kelapa Gading),27,39,25,10,64,8,64,O3,SEDANG
61,2021-01-31,DKI2 (Kelapa Gading),38,55,24,11,68,7,68,O3,SEDANG
62,2021-01-01,DKI3 (Jagakarsa),43,56,15,10,33,5,56,PM25,SEDANG
63,2021-01-02,DKI3 (Jagakarsa),58,86,15,22,38,5,86,PM25,SEDANG
64,2021-01-03,DKI3 (Jagakarsa),64,93,14,20,35,5,93,PM25,SEDANG
65,2021-01-04,DKI3 (Jagakarsa),50,67,13,15,17,4,67,PM25,SEDANG
66,2021-01-05,DKI3 (Jagakarsa),59,89,15,19,42,7,89,PM25,SEDANG
67,2021-01-06,DKI3 (Jagakarsa),52,81,18,28,52,11,81,PM25,SEDANG
68,2021-01-07,DKI3 (Jagakarsa),22,52,16,12,44,5,52,PM25,SEDANG
69,2021-01-08,DKI3 (Jagakarsa),26,68,21,22,40,9,68,PM25,SEDANG
70,2021-01-09,DKI3 (Jagakarsa),25,77,17,32,31,8,77,PM25,SEDANG
71,2021-01-10,DKI3 (Jagakarsa),15,33,16,7,23,4,33,PM25,BAIK
72,2021-01-11,DKI3 (Jagakarsa),---,72,17,15,56,4,72,PM25,SEDANG
73,2021-01-12,DKI3 (Jagakarsa),---,58,18,9,37,4,58,PM25,SEDANG
74,2021-01-13,DKI3 (Jagakarsa),26,47,16,6,39,3,47,PM25,BAIK
75,2021-01-14,DKI3 (Jagakarsa),29,78,20,14,40,8,78,PM25,SEDANG
76,2021-01-15,DKI3 (Jagakarsa),24,82,19,16,64,6,82,PM25,SEDANG
77,2021-01-16,DKI3 (Jagakarsa),70,92,19,16,60,7,92,PM25,SEDANG
78,2021-01-17,DKI3 (Jagakarsa),58,86,22,11,43,9,86,PM25,SEDANG
79,2021-01-18,DKI3 (Jagakarsa),51,64,21,7,38,5,64,PM25,SEDANG
80,2021-01-19,DKI3 (Jagakarsa),42,56,19,7,37,6,56,PM25,SEDANG
81,2021-01-20,DKI3 (Jagakarsa),46,---,17,17,41,10,46,PM10,BAIK
82,2021-01-21,DKI3 (Jagakarsa),52,---,18,19,44,9,52,PM10,SEDANG
83,2021-01-22,DKI3 (Jagakarsa),84,112,20,33,57,10,112,PM25,TIDAK SEHAT
84,2021-01-23,DKI3 (Jagakarsa),89,126,19,42,64,13,126,PM25,TIDAK SEHAT
85,2021-01-24,DKI3 (Jagakarsa),64,90,19,31,34,10,90,PM25,SEDANG
86,2021-01-25,DKI3 (Jagakarsa),60,95,18,23,67,8,95,PM25,SEDANG
87,2021-01-26,DKI3 (Jagakarsa),54,79,18,15,50,7,79,PM25,SEDANG
88,2021-01-27,DKI3 (Jagakarsa),33,37,17,5,30,4,37,PM25,BAIK
89,2021-01-28,DKI3 (Jagakarsa),26,49,16,9,26,5,49,PM25,BAIK
90,2021-01-29,DKI3 (Jagakarsa),28,16,17,9,48,4,48,O3,BAIK
91,2021-01-30,DKI3 (Jagakarsa),46,13,16,10,41,4,46,PM10,BAIK
92,2021-01-31,DKI3 (Jagakarsa),38,13,17,7,39,---,39,O3,BAIK

In [647]:
# pm10
df_januari[df_januari['pm10'] == '---']
df_januari.drop([72,73], inplace=True)

In [648]:
# pm25
df_januari[df_januari['pm25'] == '---']
df_januari.drop([81,82], inplace=True)

In [649]:
# so2
df_januari[df_januari['so2'] == '---']
df_januari.drop(range(32,39), inplace=True)

In [650]:
# no2
df_januari[df_januari['no2'] == '---']
df_januari.drop(92, inplace=True)

In [651]:
# Memformat tipe data (pm10, pm25, so2, co, o3, no2)
df_januari['pm10'] = df_januari['pm10'].astype(int)
df_januari['pm25'] = df_januari['pm25'].astype(int)
df_januari['so2'] = df_januari['so2'].astype(int)
df_januari['co'] = df_januari['co'].astype(int)
df_januari['o3'] = df_januari['o3'].astype(int)
df_januari['no2'] = df_januari['no2'].astype(int)

In [652]:
df_januari.info()

<class 'pandas.core.frame.DataFrame'>
Index: 81 entries, 0 to 91
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tanggal   81 non-null     datetime64[ns]
 1   stasiun   81 non-null     object
 2   pm10      81 non-null     int64
 3   pm25      81 non-null     int64
 4   so2       81 non-null     int64
 5   co        81 non-null     int64
 6   o3        81 non-null     int64
 7   no2       81 non-null     int64
 8   max       81 non-null     int64
 9   critical  81 non-null     object
 10  categori  81 non-null     object
dtypes: datetime64[ns](1), int64(7), object(3)
memory usage: 7.6+ KB

#### Duplikasi Data

In [653]:
df_januari[df_januari.duplicated(['tanggal','stasiun'], keep=False)]

Empty DataFrame
Columns: [tanggal, stasiun, pm10, pm25, so2, co, o3, no2, max, critical, categori]
Index: []

### Februari

In [654]:
df_februari = pd.read_csv('/home/yann/Documents/MSIB/Data Engineering Academy/8. Final Project/data/open_data_jakarta/indeks-standar-pencemar-udara-di-spku-bulan-februari-tahun-2021.csv')
df_februari.head()

,tanggal,stasiun,pm10,pm25,so2,co,o3,no2,max,critical,categori
0,2021-02-01,DKI1 (Bunderan HI),59,79,21,26,15,31,79,PM25,SEDANG
1,2021-02-02,DKI1 (Bunderan HI),30,46,21,14,16,24,46,PM25,BAIK
2,2021-02-03,DKI1 (Bunderan HI),23,33,19,11,14,19,33,PM25,BAIK
3,2021-02-04,DKI1 (Bunderan HI),36,53,23,14,12,24,53,PM25,SEDANG
4,2021-02-05,DKI1 (Bunderan HI),29,36,20,14,12,21,36,PM25,BAIK

#### Mencari missing value

In [655]:
df_februari.isna().sum()

tanggal     0
stasiun     0
pm10        0
pm25        0
so2         0
co          0
o3          0
no2         0
max         0
critical    2
categori    0
dtype: int64

In [656]:
df_februari.dropna(inplace=True)

In [657]:
df_februari.shape

(138, 11)

In [658]:
df_februari[df_februari['pm10'] == '---']
df_februari[df_februari['co'] == '---']
df_februari[df_februari['o3'] == '---']

,tanggal,stasiun,pm10,pm25,so2,co,o3,no2,max,critical,categori
53,2021-02-26,DKI2 (Kelapa Gading),45,54,43,13,---,19,54,PM25,SEDANG

In [659]:
df_februari.drop([113,116,117,118,119,120,33,34,35,53], inplace=True)

In [660]:
df_februari.sample(20)

,tanggal,stasiun,pm10,pm25,so2,co,o3,no2,max,critical,categori
111,2021-02-28,DKI4 (Lubang Buaya),68,113,39,18,24,14,113,PM25,TIDAK SEHAT
114,2021-02-03,DKI5 (Kebon Jeruk) Jakarta Barat,23,40,27,5,16,10,40,PM25,BAIK
128,2021-02-17,DKI5 (Kebon Jeruk) Jakarta Barat,44,71,33,25,14,37,71,PM25,SEDANG
65,2021-02-10,DKI3 (Jagakarsa),50,64,24,11,23,10,64,PM25,SEDANG
68,2021-02-13,DKI3 (Jagakarsa),59,89,26,12,30,13,89,PM25,SEDANG
104,2021-02-21,DKI4 (Lubang Buaya),21,50,39,10,23,10,50,PM25,BAIK
30,2021-02-03,DKI2 (Kelapa Gading),24,35,38,4,42,15,42,O3,BAIK
4,2021-02-05,DKI1 (Bunderan HI),29,36,20,14,12,21,36,PM25,BAIK
133,2021-02-22,DKI5 (Kebon Jeruk) Jakarta Barat,56,92,25,20,16,40,92,PM25,SEDANG
110,2021-02-27,DKI4 (Lubang Buaya),59,94,40,13,30,12,94,PM25,SEDANG
139,2021-02-28,DKI5 (Kebon Jeruk) Jakarta Barat,50,77,22,9,22,13,77,PM25,SEDANG
41,2021-02-14,DKI2 (Kelapa Gading),34,53,40,11,42,14,53,PM25,SEDANG
43,2021-02-16,DKI2 (Kelapa Gading),28,41,38,11,42,15,42,O3,BAIK
115,2021-02-04,DKI5 (Kebon Jeruk) Jakarta Barat,32,59,28,9,14,17,59,PM25,SEDANG
87,2021-02-04,DKI4 (Lubang Buaya),19,53,40,12,19,10,53,PM25,SEDANG
130,2021-02-19,DKI5 (Kebon Jeruk) Jakarta Barat,27,52,24,16,14,33,52,PM25,SEDANG
19,2021-02-20,DKI1 (Bunderan HI),30,38,18,11,18,20,38,PM25,BAIK
74,2021-02-19,DKI3 (Jagakarsa),28,51,25,13,23,14,51,PM25,SEDANG
21,2021-02-22,DKI1 (Bunderan HI),51,67,20,18,11,23,67,PM25,SEDANG
54,2021-02-27,DKI2 (Kelapa Gading),59,71,44,15,50,20,71,PM25,SEDANG

#### Memformat tipe data

In [661]:
df_februari.info()

<class 'pandas.core.frame.DataFrame'>
Index: 128 entries, 0 to 139
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tanggal   128 non-null    object
 1   stasiun   128 non-null    object
 2   pm10      128 non-null    object
 3   pm25      128 non-null    object
 4   so2       128 non-null    object
 5   co        128 non-null    object
 6   o3        128 non-null    object
 7   no2       128 non-null    object
 8   max       128 non-null    int64
 9   critical  128 non-null    object
 10  categori  128 non-null    object
dtypes: int64(1), object(10)
memory usage: 12.0+ KB

In [662]:
df_februari['tanggal'] = pd.to_datetime(df_februari['tanggal'])

In [663]:
df_februari = df_februari.astype({'pm10':int, 'pm25':int, 'so2':int, 'co':int, 'o3':int, 'no2':int})

#### Duplikasi data

In [664]:
df_februari[df_februari.duplicated()]

Empty DataFrame
Columns: [tanggal, stasiun, pm10, pm25, so2, co, o3, no2, max, critical, categori]
Index: []

### Maret

In [665]:
df_maret = pd.read_csv('/home/yann/Documents/MSIB/Data Engineering Academy/8. Final Project/data/open_data_jakarta/indeks-standar-pencemar-udara-di-spku-bulan-maret-tahun-2021.csv')
df_maret.sample(20)

,tanggal,stasiun,pm10,pm25,so2,co,o3,no2,max,critical,categori
14,2021-03-15,DKI1 (Bunderan HI),45,70,29,18,13,34,70,PM25,SEDANG
41,2021-03-11,DKI2 (Kelapa Gading),38,50,26,9,43,9,50,PM25,BAIK
4,2021-03-05,DKI1 (Bunderan HI),52,69,20,16,16,30,69,PM25,SEDANG
89,2021-03-28,DKI3 (Jagakarsa),47,63,27,10,43,17,63,PM25,SEDANG
92,2021-03-31,DKI3 (Jagakarsa),56,22,12,18,32,25,56,PM10,SEDANG
48,2021-03-18,DKI2 (Kelapa Gading),78,115,43,14,74,23,115,PM25,TIDAK SEHAT
151,2021-03-28,DKI5 (Kebon Jeruk) Jakarta Barat,50,78,22,12,34,19,78,PM25,SEDANG
154,2021-03-31,DKI5 (Kebon Jeruk) Jakarta Barat,40,62,25,7,16,15,62,PM25,SEDANG
54,2021-03-24,DKI2 (Kelapa Gading),33,57,27,11,37,8,57,PM25,SEDANG
124,2021-03-01,DKI5 (Kebon Jeruk) Jakarta Barat,29,60,23,7,16,12,60,PM25,SEDANG
107,2021-03-15,DKI4 (Lubang Buaya),37,77,42,14,24,12,77,PM25,SEDANG
8,2021-03-09,DKI1 (Bunderan HI),36,50,23,15,10,22,50,PM25,BAIK
0,2021-03-01,DKI1 (Bunderan HI),37,60,20,12,12,17,60,PM25,SEDANG
108,2021-03-16,DKI4 (Lubang Buaya),57,101,46,13,37,18,101,PM25,TIDAK SEHAT
17,2021-03-18,DKI1 (Bunderan HI),64,102,30,15,25,40,102,PM25,TIDAK SEHAT
153,2021-03-30,DKI5 (Kebon Jeruk) Jakarta Barat,44,72,35,8,18,18,72,PM25,SEDANG
94,2021-03-02,DKI4 (Lubang Buaya),46,81,39,17,29,14,81,PM25,SEDANG
27,2021-03-28,DKI1 (Bunderan HI),54,75,20,15,31,31,75,PM25,SEDANG
83,2021-03-22,DKI3 (Jagakarsa),62,93,26,15,36,10,93,PM25,SEDANG
6,2021-03-07,DKI1 (Bunderan HI),57,88,23,23,19,31,88,PM25,SEDANG

#### Missing Value

In [666]:
df_maret.isna().sum()

tanggal     0
stasiun     0
pm10        0
pm25        0
so2         0
co          0
o3          0
no2         0
max         0
critical    1
categori    0
dtype: int64

In [667]:
df_maret.dropna(inplace=True)

In [668]:
df_maret[df_maret['pm10'] == '---']
df_maret[df_maret['pm25'] == '---']

,tanggal,stasiun,pm10,pm25,so2,co,o3,no2,max,critical,categori
95,2021-03-03,DKI4 (Lubang Buaya),52,---,41,19,31,14,52,PM10,SEDANG

In [669]:
df_maret.drop([134,135,95], inplace=True)

#### Memformat tipe data

In [670]:
df_maret.info()

<class 'pandas.core.frame.DataFrame'>
Index: 151 entries, 0 to 154
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tanggal   151 non-null    object
 1   stasiun   151 non-null    object
 2   pm10      151 non-null    object
 3   pm25      151 non-null    object
 4   so2       151 non-null    object
 5   co        151 non-null    object
 6   o3        151 non-null    object
 7   no2       151 non-null    object
 8   max       151 non-null    int64
 9   critical  151 non-null    object
 10  categori  151 non-null    object
dtypes: int64(1), object(10)
memory usage: 14.2+ KB

In [671]:
df_maret['tanggal'] = pd.to_datetime(df_maret['tanggal'])

In [672]:
df_maret = df_maret.astype({'pm10':int, 'pm25':int, 'so2':int, 'co':int, 'o3':int, 'no2':int})

#### Duplikat data

In [673]:
df_maret[df_maret.duplicated()]

Empty DataFrame
Columns: [tanggal, stasiun, pm10, pm25, so2, co, o3, no2, max, critical, categori]
Index: []

### April

In [674]:
df_april = pd.read_csv('/home/yann/Documents/MSIB/Data Engineering Academy/8. Final Project/data/open_data_jakarta/indeks-standar-pencemar-udara-di-spku-bulan-april-tahun-2021.csv')
df_april.sample(20)

,tanggal,stasiun,pm10,pm25,so2,co,o3,no2,max,critical,categori
128,2021-04-09,DKI5 (Kebon Jeruk) Jakarta Barat,52,77,34,7,18,21,77,PM25,SEDANG
66,2021-04-07,DKI3 (Jagakarsa),25,35,27,3,---,4,35,PM25,BAIK
46,2021-04-17,DKI2 (Kelapa Gading),---,---,---,---,---,---,0,NaN,TIDAK ADA DATA
68,2021-04-09,DKI3 (Jagakarsa),55,76,26,8,---,10,76,PM25,SEDANG
86,2021-04-27,DKI3 (Jagakarsa),64,104,13,9,34,16,104,PM25,TIDAK SEHAT
81,2021-04-22,DKI3 (Jagakarsa),57,83,20,8,39,14,83,PM25,SEDANG
118,2021-04-29,DKI4 (Lubang Buaya),51,78,37,12,23,19,78,PM25,SEDANG
58,2021-04-29,DKI2 (Kelapa Gading),69,85,60,15,44,26,85,PM25,SEDANG
75,2021-04-16,DKI3 (Jagakarsa),52,72,27,14,32,22,72,PM25,SEDANG
38,2021-04-09,DKI2 (Kelapa Gading),53,64,32,10,49,25,64,PM25,SEDANG
107,2021-04-18,DKI4 (Lubang Buaya),57,82,42,16,---,16,82,PM25,SEDANG
121,2021-04-02,DKI5 (Kebon Jeruk) Jakarta Barat,35,58,38,7,19,16,58,PM25,SEDANG
85,2021-04-26,DKI3 (Jagakarsa),57,84,19,10,26,16,84,PM25,SEDANG
72,2021-04-13,DKI3 (Jagakarsa),47,65,31,11,---,18,65,PM25,SEDANG
99,2021-04-10,DKI4 (Lubang Buaya),61,90,43,15,27,21,90,PM25,SEDANG
133,2021-04-14,DKI5 (Kebon Jeruk) Jakarta Barat,48,79,31,12,27,23,79,PM25,SEDANG
127,2021-04-08,DKI5 (Kebon Jeruk) Jakarta Barat,32,55,51,5,14,12,55,PM25,SEDANG
90,2021-04-01,DKI4 (Lubang Buaya),22,49,41,7,18,12,49,PM25,BAIK
108,2021-04-19,DKI4 (Lubang Buaya),58,94,46,12,---,19,94,PM25,SEDANG
105,2021-04-16,DKI4 (Lubang Buaya),61,90,42,17,21,20,90,PM25,SEDANG

#### Missing Value

In [675]:
df_april.isna().sum()

tanggal     0
stasiun     0
pm10        0
pm25        0
so2         0
co          0
o3          0
no2         0
max         0
critical    2
categori    0
dtype: int64

In [676]:
df_april.dropna(inplace=True)

In [677]:
df_april[df_april['pm10'] == '---']

,tanggal,stasiun,pm10,pm25,so2,co,o3,no2,max,critical,categori
48,2021-04-19,DKI2 (Kelapa Gading),---,107,52,---,41,22,107,PM25,TIDAK SEHAT
71,2021-04-12,DKI3 (Jagakarsa),---,69,27,15,---,16,69,PM25,SEDANG
78,2021-04-19,DKI3 (Jagakarsa),---,92,22,9,36,18,92,PM25,SEDANG

In [678]:
df_april = df_april.replace('---', pd.NA)
df_april.dropna(inplace=True)

#### Format tipe data

In [679]:
df_april.info()

<class 'pandas.core.frame.DataFrame'>
Index: 128 entries, 0 to 149
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tanggal   128 non-null    object
 1   stasiun   128 non-null    object
 2   pm10      128 non-null    object
 3   pm25      128 non-null    object
 4   so2       128 non-null    object
 5   co        128 non-null    object
 6   o3        128 non-null    object
 7   no2       128 non-null    object
 8   max       128 non-null    int64
 9   critical  128 non-null    object
 10  categori  128 non-null    object
dtypes: int64(1), object(10)
memory usage: 12.0+ KB

In [680]:
df_april['tanggal'] = pd.to_datetime(df_april['tanggal'])

In [681]:
df_april = df_april.astype({'pm10':int, 'pm25':int, 'so2':int, 'co':int, 'o3':int, 'no2':int})

#### Duplikat data

In [682]:
df_april[df_april.duplicated()]

Empty DataFrame
Columns: [tanggal, stasiun, pm10, pm25, so2, co, o3, no2, max, critical, categori]
Index: []

### Mei

In [683]:
df_mei = pd.read_csv('/home/yann/Documents/MSIB/Data Engineering Academy/8. Final Project/data/open_data_jakarta/indeks-standar-pencemar-udara-di-spku-bulan-mei-tahun-2021.csv')
df_mei.sample(20)

,tanggal,stasiun,pm10,pm25,so2,co,o3,no2,max,critical,categori
91,2021-05-30,DKI3 (Jagakarsa),44,24,45,9,---,14,45,SO2,BAIK
77,2021-05-16,DKI3 (Jagakarsa),---,68,18,7,29,10,68,PM25,SEDANG
20,2021-05-21,DKI1 (Bunderan HI),52,76,24,15,22,34,76,PM25,SEDANG
4,2021-05-05,DKI1 (Bunderan HI),58,82,22,18,14,38,82,PM25,SEDANG
62,2021-05-01,DKI3 (Jagakarsa),66,102,13,15,---,20,102,PM25,TIDAK SEHAT
10,2021-05-11,DKI1 (Bunderan HI),60,88,24,12,25,24,88,PM25,SEDANG
131,2021-05-08,DKI5 (Kebon Jeruk) Jakarta Barat,43,74,21,8,30,14,74,PM25,SEDANG
128,2021-05-05,DKI5 (Kebon Jeruk) Jakarta Barat,54,90,25,14,21,25,90,PM25,SEDANG
14,2021-05-15,DKI1 (Bunderan HI),51,67,26,11,20,19,67,PM25,SEDANG
69,2021-05-08,DKI3 (Jagakarsa),50,76,20,8,71,15,76,PM25,SEDANG
87,2021-05-26,DKI3 (Jagakarsa),58,82,47,8,29,16,82,PM25,SEDANG
48,2021-05-18,DKI2 (Kelapa Gading),41,55,48,8,49,10,55,PM25,SEDANG
46,2021-05-16,DKI2 (Kelapa Gading),52,---,50,9,52,---,52,PM10,SEDANG
0,2021-05-01,DKI1 (Bunderan HI),52,71,23,10,20,33,71,PM25,SEDANG
94,2021-05-02,DKI4 (Lubang Buaya),54,89,38,---,22,10,89,PM25,SEDANG
40,2021-05-10,DKI2 (Kelapa Gading),55,73,51,10,58,8,73,PM25,SEDANG
65,2021-05-04,DKI3 (Jagakarsa),65,108,13,18,---,19,108,PM25,TIDAK SEHAT
61,2021-05-31,DKI2 (Kelapa Gading),62,81,49,14,71,20,81,PM25,SEDANG
16,2021-05-17,DKI1 (Bunderan HI),47,65,22,11,24,24,65,PM25,SEDANG
121,2021-05-29,DKI4 (Lubang Buaya),57,91,40,10,29,26,91,PM25,SEDANG

#### Missing value

In [684]:
df_mei.isna().sum()

tanggal     0
stasiun     0
pm10        0
pm25        0
so2         0
co          0
o3          0
no2         0
max         0
critical    0
categori    0
dtype: int64

In [685]:
df_mei = df_mei.replace('---', pd.NA)
df_mei.dropna(inplace=True)

#### Format Tipe data

In [686]:
df_mei.info()

<class 'pandas.core.frame.DataFrame'>
Index: 127 entries, 0 to 154
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tanggal   127 non-null    object
 1   stasiun   127 non-null    object
 2   pm10      127 non-null    object
 3   pm25      127 non-null    object
 4   so2       127 non-null    int64
 5   co        127 non-null    object
 6   o3        127 non-null    object
 7   no2       127 non-null    object
 8   max       127 non-null    int64
 9   critical  127 non-null    object
 10  categori  127 non-null    object
dtypes: int64(2), object(9)
memory usage: 11.9+ KB

In [687]:
df_mei['tanggal'] = pd.to_datetime(df_mei['tanggal'])

In [688]:
df_mei = df_mei.astype({'pm10':int, 'pm25':int, 'so2':int, 'co':int, 'o3':int, 'no2':int})

#### Duplikat data

In [689]:
df_mei[df_mei.duplicated()]

Empty DataFrame
Columns: [tanggal, stasiun, pm10, pm25, so2, co, o3, no2, max, critical, categori]
Index: []

### Juni

In [690]:
df_juni = pd.read_csv('/home/yann/Documents/MSIB/Data Engineering Academy/8. Final Project/data/open_data_jakarta/indeks-standar-pencemar-udara-di-spku-bulan-juni-tahun-2021.csv')
df_juni.sample(20)

,tanggal,pm10,pm25,so2,co,o3,no2,max,critical,categori,location
24,2021-06-25,DKI1 (Bunderan HI),59,82,36,14,17,32,82,PM25,SEDANG
89,2021-06-30,DKI3 (Jagakarsa),79,26,49,10,23,19,79,PM10,SEDANG
117,2021-06-28,DKI4 (Lubang Buaya),60,117,36,18,30,22,117,PM25,TIDAK SEHAT
51,2021-06-22,DKI2 (Kelapa Gading),59,72,54,14,38,27,72,PM25,SEDANG
77,2021-06-18,DKI3 (Jagakarsa),62,87,48,10,25,21,87,PM25,SEDANG
49,2021-06-20,DKI2 (Kelapa Gading),81,108,66,18,44,35,108,PM25,TIDAK SEHAT
147,2021-06-28,DKI5 (Kebon Jeruk) Jakarta Barat,59,99,25,17,21,30,99,PM25,SEDANG
111,2021-06-22,DKI4 (Lubang Buaya),47,84,33,16,21,22,84,PM25,SEDANG
59,2021-06-30,DKI2 (Kelapa Gading),79,105,57,14,55,28,105,PM25,TIDAK SEHAT
32,2021-06-03,DKI2 (Kelapa Gading),68,93,57,16,61,32,93,PM25,SEDANG
101,2021-06-12,DKI4 (Lubang Buaya),55,93,27,13,30,24,93,PM25,SEDANG
84,2021-06-25,DKI3 (Jagakarsa),85,127,51,11,27,22,127,PM25,TIDAK SEHAT
125,2021-06-06,DKI5 (Kebon Jeruk) Jakarta Barat,54,---,23,13,25,22,54,PM10,SEDANG
29,2021-06-30,DKI1 (Bunderan HI),65,94,26,19,19,38,94,PM25,SEDANG
56,2021-06-27,DKI2 (Kelapa Gading),67,94,57,11,57,18,94,PM25,SEDANG
7,2021-06-08,DKI1 (Bunderan HI),58,80,26,16,24,38,80,PM25,SEDANG
42,2021-06-13,DKI2 (Kelapa Gading),55,73,52,11,58,17,73,PM25,SEDANG
118,2021-06-29,DKI4 (Lubang Buaya),65,124,34,13,27,21,124,PM25,TIDAK SEHAT
3,2021-06-04,DKI1 (Bunderan HI),63,87,20,13,14,30,87,PM25,SEDANG
141,2021-06-22,DKI5 (Kebon Jeruk) Jakarta Barat,35,67,28,13,13,35,67,PM25,SEDANG

#### Rename columns

In [691]:
df_juni = df_juni.rename(columns={
    'categori':'critical',
    'location':'categori',
    'pm10':'stasiun',
    'pm25':'pm10',
    'so2':'pm25',
    'co':'so2',
    'o3':'co',
    'no2':'o3',
    'max':'no2',
    'critical':'max'   
})

#### Missing Value

In [692]:
df_juni.isna().sum()

tanggal     0
stasiun     0
pm10        0
pm25        0
so2         0
co          0
o3          0
no2         0
max         0
critical    0
categori    0
dtype: int64

In [693]:
df_juni = df_juni.replace('---', pd.NA)
df_juni.dropna(inplace=True)

#### Format tipe data

In [694]:
df_juni.info()

<class 'pandas.core.frame.DataFrame'>
Index: 138 entries, 0 to 149
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tanggal   138 non-null    object
 1   stasiun   138 non-null    object
 2   pm10      138 non-null    int64
 3   pm25      138 non-null    object
 4   so2       138 non-null    object
 5   co        138 non-null    object
 6   o3        138 non-null    object
 7   no2       138 non-null    int64
 8   max       138 non-null    int64
 9   critical  138 non-null    object
 10  categori  138 non-null    object
dtypes: int64(3), object(8)
memory usage: 12.9+ KB

In [695]:
df_juni = df_juni.astype(str)

In [696]:
df_juni.head()

,tanggal,stasiun,pm10,pm25,so2,co,o3,no2,max,critical,categori
0,2021-06-01,DKI1 (Bunderan HI),59,83,22,18,19,35,83,PM25,SEDANG
1,2021-06-02,DKI1 (Bunderan HI),59,84,21,20,24,38,84,PM25,SEDANG
2,2021-06-03,DKI1 (Bunderan HI),54,76,22,20,17,41,76,PM25,SEDANG
3,2021-06-04,DKI1 (Bunderan HI),63,87,20,13,14,30,87,PM25,SEDANG
4,2021-06-05,DKI1 (Bunderan HI),59,79,23,20,19,38,79,PM25,SEDANG

In [697]:
df_juni['tanggal'] = pd.to_datetime(df_juni['tanggal'])

In [698]:
df_juni = df_juni.astype({'pm10':int, 'pm25':int, 'so2':int, 'co':int, 'o3':int, 'no2':int, 'max':int})

#### Duplikat Data

In [699]:
df_juni[df_juni.duplicated()]

Empty DataFrame
Columns: [tanggal, stasiun, pm10, pm25, so2, co, o3, no2, max, critical, categori]
Index: []

In [700]:
# df_juni

### Juli

In [701]:
df_juli = pd.read_csv('/home/yann/Documents/MSIB/Data Engineering Academy/8. Final Project/data/open_data_jakarta/indeks-standar-pencemar-udara-di-spku-bulan-juli-tahun-2021.csv')
df_juli.sample(20)

,tanggal,pm10,pm25,so2,co,o3,no2,max,critical,categori,location
121,2021-07-29,DKI4 (Lubang Buaya),66,130,40,12,25,25,130,PM25,TIDAK SEHAT
128,2021-07-05,DKI5 (Kebon Jeruk) Jakarta Barat,66,115,35,11,36,20,115,PM25,TIDAK SEHAT
131,2021-07-08,DKI5 (Kebon Jeruk) Jakarta Barat,62,108,37,10,30,23,108,PM25,TIDAK SEHAT
116,2021-07-24,DKI4 (Lubang Buaya),56,104,37,12,27,25,104,PM25,TIDAK SEHAT
29,2021-07-30,DKI1 (Bunderan HI),73,105,29,12,39,35,105,PM25,TIDAK SEHAT
153,2021-07-30,DKI5 (Kebon Jeruk) Jakarta Barat,75,121,37,12,50,21,121,PM25,TIDAK SEHAT
93,2021-07-01,DKI4 (Lubang Buaya),62,114,37,13,23,27,114,PM25,TIDAK SEHAT
99,2021-07-07,DKI4 (Lubang Buaya),69,130,40,12,26,26,130,PM25,TIDAK SEHAT
103,2021-07-11,DKI4 (Lubang Buaya),66,119,39,10,21,17,119,PM25,TIDAK SEHAT
129,2021-07-06,DKI5 (Kebon Jeruk) Jakarta Barat,52,80,32,8,32,23,80,PM25,SEDANG
44,2021-07-14,DKI2 (Kelapa Gading),56,75,51,12,50,23,75,PM25,SEDANG
112,2021-07-20,DKI4 (Lubang Buaya),80,147,38,13,26,21,147,PM25,TIDAK SEHAT
53,2021-07-23,DKI2 (Kelapa Gading),61,---,52,9,59,20,61,PM10,SEDANG
111,2021-07-19,DKI4 (Lubang Buaya),74,140,36,11,32,21,140,PM25,TIDAK SEHAT
57,2021-07-27,DKI2 (Kelapa Gading),82,112,56,12,41,27,112,PM25,TIDAK SEHAT
48,2021-07-18,DKI2 (Kelapa Gading),82,114,55,11,58,17,114,PM25,TIDAK SEHAT
81,2021-07-20,DKI3 (Jagakarsa),77,110,45,5,25,18,110,PM25,TIDAK SEHAT
19,2021-07-20,DKI1 (Bunderan HI),74,100,27,15,24,24,100,PM25,SEDANG
95,2021-07-03,DKI4 (Lubang Buaya),72,141,37,13,25,20,141,PM25,TIDAK SEHAT
96,2021-07-04,DKI4 (Lubang Buaya),84,161,38,14,27,22,161,PM25,TIDAK SEHAT

#### Rename

In [702]:
df_juli = df_juli.rename(columns={
    'categori':'critical',
    'location':'categori',
    'pm10':'stasiun',
    'pm25':'pm10',
    'so2':'pm25',
    'co':'so2',
    'o3':'co',
    'no2':'o3',
    'max':'no2',
    'critical':'max'   
})

#### Missing Value

In [703]:
df_juli.isna().sum()

tanggal     0
stasiun     0
pm10        0
pm25        0
so2         0
co          0
o3          0
no2         0
max         0
critical    1
categori    0
dtype: int64

In [704]:
df_juli = df_juli.replace('---', pd.NA)
df_juli.dropna(inplace=True)

#### Format tipe data

In [705]:
df_juli.info()

<class 'pandas.core.frame.DataFrame'>
Index: 149 entries, 0 to 154
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tanggal   149 non-null    object
 1   stasiun   149 non-null    object
 2   pm10      149 non-null    object
 3   pm25      149 non-null    object
 4   so2       149 non-null    object
 5   co        149 non-null    object
 6   o3        149 non-null    object
 7   no2       149 non-null    object
 8   max       149 non-null    int64
 9   critical  149 non-null    object
 10  categori  149 non-null    object
dtypes: int64(1), object(10)
memory usage: 14.0+ KB

In [706]:
df_juli['tanggal'] = pd.to_datetime(df_juli['tanggal'])

In [707]:
df_juli = df_juli.astype({'pm10':int, 'pm25':int, 'so2':int, 'co':int, 'o3':int, 'no2':int, 'max':int})

#### Duplikat Data

In [708]:
df_juli[df_juli.duplicated()]

Empty DataFrame
Columns: [tanggal, stasiun, pm10, pm25, so2, co, o3, no2, max, critical, categori]
Index: []

In [709]:
df_juli

,tanggal,stasiun,pm10,pm25,so2,co,o3,no2,max,critical,categori
0,2021-07-01,DKI1 (Bunderan HI),55,76,27,14,20,31,76,PM25,SEDANG
1,2021-07-02,DKI1 (Bunderan HI),55,70,33,16,14,30,70,PM25,SEDANG
2,2021-07-03,DKI1 (Bunderan HI),58,81,33,12,19,25,81,PM25,SEDANG
3,2021-07-04,DKI1 (Bunderan HI),68,102,27,11,27,22,102,PM25,TIDAK SEHAT
4,2021-07-05,DKI1 (Bunderan HI),71,106,28,12,34,25,106,PM25,TIDAK SEHAT
...,...,...,...,...,...,...,...,...,...,...,...
150,2021-07-27,DKI5 (Kebon Jeruk) Jakarta Barat,64,110,32,13,29,35,110,PM25,TIDAK SEHAT
151,2021-07-28,DKI5 (Kebon Jeruk) Jakarta Barat,70,130,33,17,28,45,130,PM25,TIDAK SEHAT
152,2021-07-29,DKI5 (Kebon Jeruk) Jakarta Barat,78,140,32,18,29,39,140,PM25,TIDAK SEHAT
153,2021-07-30,DKI5 (Kebon Jeruk) Jakarta Barat,75,121,37,12,50,21,121,PM25,TIDAK SEHAT
154,2021-07-31,DKI5 (Kebon Jeruk) Jakarta Barat,53,80,29,6,34,13,80,PM25,SEDANG

### Agustus

In [710]:
df_agustus = pd.read_csv('/home/yann/Documents/MSIB/Data Engineering Academy/8. Final Project/data/open_data_jakarta/indeks-standar-pencemar-udara-di-spku-bulan-agustus-tahun-2021.csv')
df_agustus.sample(20)

,tanggal,stasiun,pm10,pm25,so2,co,o3,no2,max,critical,categori
93,2021-08-01,DKI4 (Lubang Buaya),51,86,39,8,30,22,86,PM25,SEDANG
22,2021-08-23,DKI1 (Bunderan HI),56,77,28,10,25,27,77,PM25,SEDANG
7,2021-08-08,DKI1 (Bunderan HI),53,69,33,6,23,16,69,PM25,SEDANG
82,2021-08-21,DKI3 (Jagakarsa),53,80,44,10,33,15,80,PM25,SEDANG
17,2021-08-18,DKI1 (Bunderan HI),59,78,25,11,27,26,78,PM25,SEDANG
150,2021-08-27,DKI5 (Kebon Jeruk) Jakarta Barat,61,96,34,8,29,15,96,PM25,SEDANG
138,2021-08-15,DKI5 (Kebon Jeruk) Jakarta Barat,62,87,33,12,17,30,87,PM25,SEDANG
21,2021-08-22,DKI1 (Bunderan HI),59,81,28,14,25,28,81,PM25,SEDANG
87,2021-08-26,DKI3 (Jagakarsa),54,82,46,9,30,15,82,PM25,SEDANG
151,2021-08-28,DKI5 (Kebon Jeruk) Jakarta Barat,63,100,31,8,44,12,100,PM25,SEDANG
104,2021-08-12,DKI4 (Lubang Buaya),57,104,40,8,21,20,104,PM25,TIDAK SEHAT
20,2021-08-21,DKI1 (Bunderan HI),59,80,25,13,26,35,80,PM25,SEDANG
66,2021-08-05,DKI3 (Jagakarsa),52,82,51,11,23,15,82,PM25,SEDANG
100,2021-08-08,DKI4 (Lubang Buaya),54,92,40,7,21,17,92,PM25,SEDANG
42,2021-08-12,DKI2 (Kelapa Gading),65,88,52,10,47,18,88,PM25,SEDANG
49,2021-08-19,DKI2 (Kelapa Gading),72,101,55,13,26,36,101,PM25,TIDAK SEHAT
106,2021-08-14,DKI4 (Lubang Buaya),58,98,41,9,21,21,98,PM25,SEDANG
153,2021-08-30,DKI5 (Kebon Jeruk) Jakarta Barat,83,126,35,16,32,29,126,PM25,TIDAK SEHAT
127,2021-08-04,DKI5 (Kebon Jeruk) Jakarta Barat,46,74,33,7,26,18,74,PM25,SEDANG
53,2021-08-23,DKI2 (Kelapa Gading),63,86,52,9,33,13,86,PM25,SEDANG

#### Missing value

In [711]:
df_agustus.isna().sum()

tanggal     0
stasiun     0
pm10        0
pm25        0
so2         0
co          0
o3          0
no2         0
max         0
critical    0
categori    0
dtype: int64

In [712]:
df_agustus = df_agustus.replace('---', pd.NA)
df_agustus.dropna(inplace=True)

#### Format tipe data

In [713]:
df_agustus.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155 entries, 0 to 154
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tanggal   155 non-null    object
 1   stasiun   155 non-null    object
 2   pm10      155 non-null    int64
 3   pm25      155 non-null    int64
 4   so2       155 non-null    int64
 5   co        155 non-null    int64
 6   o3        155 non-null    int64
 7   no2       155 non-null    int64
 8   max       155 non-null    int64
 9   critical  155 non-null    object
 10  categori  155 non-null    object
dtypes: int64(7), object(4)
memory usage: 13.4+ KB

In [714]:
df_agustus['tanggal'] = pd.to_datetime(df_agustus['tanggal'])

In [715]:
df_agustus = df_agustus.astype({'pm10':int, 'pm25':int, 'so2':int, 'co':int, 'o3':int, 'no2':int, 'max':int})

#### Duplikat Data

In [716]:
df_agustus[df_agustus.duplicated()]

Empty DataFrame
Columns: [tanggal, stasiun, pm10, pm25, so2, co, o3, no2, max, critical, categori]
Index: []

#### September

In [717]:
df_september = pd.read_csv('/home/yann/Documents/MSIB/Data Engineering Academy/8. Final Project/data/open_data_jakarta/indeks-standar-pencemar-udara-di-spku-bulan-september-tahun-2021.csv')
df_september.sample(20)

,tanggal,stasiun,pm10,pm25,so2,co,o3,no2,max,critical,categori
143,2021-09-24,DKI5 (Kebon Jeruk) Jakarta Barat,51,73,---,6,20,17,73,PM25,SEDANG
95,2021-09-06,DKI4 (Lubang Buaya),62,109,42,9,29,16,109,PM25,TIDAK SEHAT
127,2021-09-08,DKI5 (Kebon Jeruk) Jakarta Barat,51,78,---,8,28,15,78,PM25,SEDANG
125,2021-09-06,DKI5 (Kebon Jeruk) Jakarta Barat,65,95,---,8,27,13,95,PM25,SEDANG
139,2021-09-20,DKI5 (Kebon Jeruk) Jakarta Barat,45,65,---,5,30,10,65,PM25,SEDANG
77,2021-09-18,DKI3 (Jagakarsa),55,80,50,9,27,15,80,PM25,SEDANG
6,2021-09-07,DKI1 (Bunderan HI),52,65,28,9,19,24,65,PM25,SEDANG
118,2021-09-29,DKI4 (Lubang Buaya),---,102,45,13,38,24,102,PM25,TIDAK SEHAT
123,2021-09-04,DKI5 (Kebon Jeruk) Jakarta Barat,58,84,---,6,37,11,84,PM25,SEDANG
26,2021-09-27,DKI1 (Bunderan HI),51,72,27,12,22,33,72,PM25,SEDANG
88,2021-09-29,DKI3 (Jagakarsa),61,26,49,13,31,22,61,PM10,SEDANG
97,2021-09-08,DKI4 (Lubang Buaya),63,106,40,15,29,25,106,PM25,TIDAK SEHAT
54,2021-09-25,DKI2 (Kelapa Gading),55,81,52,8,50,13,81,PM25,SEDANG
48,2021-09-19,DKI2 (Kelapa Gading),52,73,50,8,68,10,73,PM25,SEDANG
52,2021-09-23,DKI2 (Kelapa Gading),61,85,53,8,53,13,85,PM25,SEDANG
20,2021-09-21,DKI1 (Bunderan HI),55,81,28,11,29,36,81,PM25,SEDANG
98,2021-09-09,DKI4 (Lubang Buaya),52,82,41,12,27,24,82,PM25,SEDANG
94,2021-09-05,DKI4 (Lubang Buaya),69,120,43,12,27,26,120,PM25,TIDAK SEHAT
34,2021-09-05,DKI2 (Kelapa Gading),74,100,52,12,35,22,100,PM25,SEDANG
79,2021-09-20,DKI3 (Jagakarsa),45,59,49,7,33,10,59,PM25,SEDANG

#### Missing Value

In [718]:
df_september.isna().sum()

tanggal     0
stasiun     0
pm10        0
pm25        0
so2         0
co          0
o3          0
no2         0
max         0
critical    2
categori    0
dtype: int64

In [719]:
df_september = df_september.replace('---', pd.NA)
df_september.dropna(inplace=True)

#### Format tipe data

In [720]:
df_september.info()

<class 'pandas.core.frame.DataFrame'>
Index: 107 entries, 0 to 122
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tanggal   107 non-null    object
 1   stasiun   107 non-null    object
 2   pm10      107 non-null    object
 3   pm25      107 non-null    object
 4   so2       107 non-null    object
 5   co        107 non-null    object
 6   o3        107 non-null    object
 7   no2       107 non-null    object
 8   max       107 non-null    int64
 9   critical  107 non-null    object
 10  categori  107 non-null    object
dtypes: int64(1), object(10)
memory usage: 10.0+ KB

In [721]:
df_september['tanggal'] = pd.to_datetime(df_september['tanggal'])

In [722]:
df_september = df_september.astype({'pm10':int, 'pm25':int, 'so2':int, 'co':int, 'o3':int, 'no2':int, 'max':int})

#### Duplikat data

In [723]:
df_september[df_september.duplicated()]

Empty DataFrame
Columns: [tanggal, stasiun, pm10, pm25, so2, co, o3, no2, max, critical, categori]
Index: []

### Oktober

In [724]:
df_oktober = pd.read_csv('/home/yann/Documents/MSIB/Data Engineering Academy/8. Final Project/data/open_data_jakarta/indeks-standar-pencemar-udara-di-spku-bulan-oktober-tahun-2021.csv')
df_oktober.sample(20)

,tanggal,stasiun,pm10,pm25,so2,co,o3,no2,max,critical,categori
132,2021-10-09,DKI5 (Kebon Jeruk) Jakarta Barat,53,74,---,7,43,12,74,PM25,SEDANG
91,2021-10-30,DKI3 (Jagakarsa),48,31,51,12,39,18,51,SO2,SEDANG
87,2021-10-26,DKI3 (Jagakarsa),51,71,51,13,30,15,71,PM25,SEDANG
149,2021-10-26,DKI5 (Kebon Jeruk) Jakarta Barat,58,92,---,16,29,24,92,PM25,SEDANG
11,2021-10-12,DKI1 (Bunderan HI),56,76,37,9,23,35,76,PM25,SEDANG
15,2021-10-16,DKI1 (Bunderan HI),66,95,28,15,32,44,95,PM25,SEDANG
103,2021-10-11,DKI4 (Lubang Buaya),62,100,43,10,44,26,100,PM25,SEDANG
20,2021-10-21,DKI1 (Bunderan HI),45,65,25,9,28,32,65,PM25,SEDANG
144,2021-10-21,DKI5 (Kebon Jeruk) Jakarta Barat,42,70,---,7,34,14,70,PM25,SEDANG
39,2021-10-09,DKI2 (Kelapa Gading),53,77,62,9,60,19,77,PM25,SEDANG
127,2021-10-04,DKI5 (Kebon Jeruk) Jakarta Barat,53,80,---,7,31,10,80,PM25,SEDANG
26,2021-10-27,DKI1 (Bunderan HI),55,76,29,15,22,39,76,PM25,SEDANG
23,2021-10-24,DKI1 (Bunderan HI),58,85,27,11,28,36,85,PM25,SEDANG
118,2021-10-26,DKI4 (Lubang Buaya),75,130,45,16,36,24,130,PM25,TIDAK SEHAT
74,2021-10-13,DKI3 (Jagakarsa),52,71,52,9,38,15,71,PM25,SEDANG
72,2021-10-11,DKI3 (Jagakarsa),58,79,51,10,39,12,79,PM25,SEDANG
86,2021-10-25,DKI3 (Jagakarsa),62,90,51,13,38,15,90,PM25,SEDANG
140,2021-10-17,DKI5 (Kebon Jeruk) Jakarta Barat,62,100,---,11,48,10,100,PM25,SEDANG
54,2021-10-24,DKI2 (Kelapa Gading),62,96,60,12,62,21,96,PM25,SEDANG
95,2021-10-03,DKI4 (Lubang Buaya),---,96,44,9,32,19,96,PM25,SEDANG

#### Missing value

In [725]:
df_oktober.isna().sum()

tanggal     0
stasiun     0
pm10        0
pm25        0
so2         0
co          0
o3          0
no2         0
max         0
critical    2
categori    0
dtype: int64

In [726]:
df_oktober = df_oktober.replace('---', pd.NA)
df_oktober.dropna(inplace=True)

#### Format tipe data

In [727]:
df_oktober.info()

<class 'pandas.core.frame.DataFrame'>
Index: 109 entries, 0 to 122
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tanggal   109 non-null    object
 1   stasiun   109 non-null    object
 2   pm10      109 non-null    object
 3   pm25      109 non-null    object
 4   so2       109 non-null    object
 5   co        109 non-null    object
 6   o3        109 non-null    object
 7   no2       109 non-null    object
 8   max       109 non-null    int64
 9   critical  109 non-null    object
 10  categori  109 non-null    object
dtypes: int64(1), object(10)
memory usage: 10.2+ KB

In [728]:
df_oktober['tanggal'] = pd.to_datetime(df_oktober['tanggal'])

In [729]:
df_oktober = df_oktober.astype({'pm10':int, 'pm25':int, 'so2':int, 'co':int, 'o3':int, 'no2':int})

#### Duplikat data

In [730]:
df_oktober[df_oktober.duplicated()]

Empty DataFrame
Columns: [tanggal, stasiun, pm10, pm25, so2, co, o3, no2, max, critical, categori]
Index: []

### November

In [731]:
df_november = pd.read_csv('/home/yann/Documents/MSIB/Data Engineering Academy/8. Final Project/data/open_data_jakarta/indeks-standar-pencemar-udara-di-spku-bulan-november-tahun-2021.csv')
df_november.sample(20)

,tanggal,stasiun,pm10,pm25,so2,co,o3,no2,max,critical,categori
13,2021-11-14,DKI1 (Bunderan HI),42,53,29,11,18,7,53,PM25,SEDANG
17,2021-11-18,DKI1 (Bunderan HI),55,75,43,18,19,13,75,PM25,SEDANG
109,2021-11-20,DKI4 (Lubang Buaya),26,58,38,6,21,13,58,PM25,SEDANG
107,2021-11-18,DKI4 (Lubang Buaya),63,106,41,9,27,18,106,PM25,TIDAK SEHAT
82,2021-11-23,DKI3 (Jagakarsa),24,30,41,3,29,4,41,SO2,BAIK
87,2021-11-28,DKI3 (Jagakarsa),16,25,41,4,34,6,41,SO2,BAIK
27,2021-11-28,DKI1 (Bunderan HI),19,20,29,5,14,4,29,SO2,BAIK
132,2021-11-13,DKI5 (Kebon Jeruk) Jakarta Barat,46,75,---,14,29,40,75,PM25,SEDANG
96,2021-11-07,DKI4 (Lubang Buaya),52,81,44,9,35,17,81,PM25,SEDANG
44,2021-11-15,DKI2 (Kelapa Gading),---,57,---,9,36,17,57,PM25,SEDANG
73,2021-11-14,DKI3 (Jagakarsa),40,56,47,11,---,11,56,PM25,SEDANG
94,2021-11-05,DKI4 (Lubang Buaya),61,95,43,16,14,20,95,PM25,SEDANG
74,2021-11-15,DKI3 (Jagakarsa),29,53,47,8,---,10,53,PM25,SEDANG
37,2021-11-08,DKI2 (Kelapa Gading),53,73,---,14,39,26,73,PM25,SEDANG
139,2021-11-20,DKI5 (Kebon Jeruk) Jakarta Barat,28,50,17,4,16,17,50,PM25,BAIK
148,2021-11-29,DKI5 (Kebon Jeruk) Jakarta Barat,15,34,13,3,13,9,34,PM25,BAIK
19,2021-11-20,DKI1 (Bunderan HI),28,44,33,7,13,6,44,PM25,BAIK
7,2021-11-08,DKI1 (Bunderan HI),38,55,29,18,15,32,55,PM25,SEDANG
97,2021-11-08,DKI4 (Lubang Buaya),52,70,44,14,26,16,70,PM25,SEDANG
111,2021-11-22,DKI4 (Lubang Buaya),23,45,37,4,14,9,45,PM25,BAIK

#### Missing value

In [732]:
df_november.isna().sum()

tanggal     0
stasiun     0
pm10        0
pm25        0
so2         0
co          0
o3          0
no2         0
max         0
critical    1
categori    0
dtype: int64

In [733]:
df_november = df_november.replace('---', pd.NA)
df_november.dropna(inplace=True)

#### Format tipe data

In [734]:
df_november.info()

<class 'pandas.core.frame.DataFrame'>
Index: 116 entries, 0 to 149
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tanggal   116 non-null    object
 1   stasiun   116 non-null    object
 2   pm10      116 non-null    object
 3   pm25      116 non-null    object
 4   so2       116 non-null    object
 5   co        116 non-null    object
 6   o3        116 non-null    object
 7   no2       116 non-null    object
 8   max       116 non-null    int64
 9   critical  116 non-null    object
 10  categori  116 non-null    object
dtypes: int64(1), object(10)
memory usage: 10.9+ KB

In [735]:
df_november['tanggal'] = pd.to_datetime(df_november['tanggal'])

In [736]:
df_november = df_november.astype({'pm10':int, 'pm25':int, 'so2':int, 'co':int, 'o3':int, 'no2':int})

#### Duplikat data

In [737]:
df_november[df_november.duplicated()]

Empty DataFrame
Columns: [tanggal, stasiun, pm10, pm25, so2, co, o3, no2, max, critical, categori]
Index: []

### Desember

In [738]:
df_desember = pd.read_csv('/home/yann/Documents/MSIB/Data Engineering Academy/8. Final Project/data/open_data_jakarta/indeks-standar-pencemar-udara-di-spku-bulan-desember-tahun-2021.csv')
df_desember.sample(20)

,tanggal,stasiun,pm10,pm25,so2,co,o3,no2,max,critical,categori
133,2021-12-10,DKI5 (Kebon Jeruk) Jakarta Barat,48,63,32,8,28,30,63,PM25,SEDANG
77,2021-12-16,DKI3 (Jagakarsa),47,68,43,11,---,15,68,PM25,SEDANG
147,2021-12-24,DKI5 (Kebon Jeruk) Jakarta Barat,32,59,25,9,19,52,59,PM25,SEDANG
87,2021-12-26,DKI3 (Jagakarsa),39,59,33,14,36,12,59,PM25,SEDANG
154,2021-12-31,DKI5 (Kebon Jeruk) Jakarta Barat,60,87,28,19,30,53,87,PM25,SEDANG
66,2021-12-05,DKI3 (Jagakarsa),51,66,43,15,27,12,66,PM25,SEDANG
23,2021-12-24,DKI1 (Bunderan HI),34,52,53,15,17,11,53,SO2,SEDANG
26,2021-12-27,DKI1 (Bunderan HI),52,71,61,15,20,15,71,PM25,SEDANG
102,2021-12-10,DKI4 (Lubang Buaya),45,73,42,10,24,19,73,PM25,SEDANG
122,2021-12-30,DKI4 (Lubang Buaya),60,102,38,17,---,21,102,PM25,TIDAK SEHAT
42,2021-12-12,DKI2 (Kelapa Gading),49,62,40,13,42,22,62,PM25,SEDANG
94,2021-12-02,DKI4 (Lubang Buaya),33,56,38,5,18,13,56,PM25,SEDANG
135,2021-12-12,DKI5 (Kebon Jeruk) Jakarta Barat,39,60,16,13,20,34,60,PM25,SEDANG
0,2021-12-01,DKI1 (Bunderan HI),49,65,33,13,15,12,65,PM25,SEDANG
16,2021-12-17,DKI1 (Bunderan HI),53,71,42,18,24,15,71,PM25,SEDANG
84,2021-12-23,DKI3 (Jagakarsa),56,78,34,12,44,17,78,PM25,SEDANG
71,2021-12-10,DKI3 (Jagakarsa),51,65,47,12,---,15,65,PM25,SEDANG
127,2021-12-04,DKI5 (Kebon Jeruk) Jakarta Barat,34,54,27,5,14,15,54,PM25,SEDANG
134,2021-12-11,DKI5 (Kebon Jeruk) Jakarta Barat,32,54,21,5,31,15,54,PM25,SEDANG
13,2021-12-14,DKI1 (Bunderan HI),46,61,46,15,16,10,61,PM25,SEDANG

#### Missing Value

In [739]:
df_desember.isna().sum()

tanggal     0
stasiun     0
pm10        0
pm25        0
so2         0
co          0
o3          0
no2         0
max         0
critical    3
categori    1
dtype: int64

In [740]:
df_desember = df_desember.replace('---', pd.NA)
df_desember.dropna(inplace=True)

#### Format tipe data

In [741]:
df_desember.info()

<class 'pandas.core.frame.DataFrame'>
Index: 128 entries, 0 to 154
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tanggal   128 non-null    object
 1   stasiun   128 non-null    object
 2   pm10      128 non-null    object
 3   pm25      128 non-null    object
 4   so2       128 non-null    object
 5   co        128 non-null    object
 6   o3        128 non-null    object
 7   no2       128 non-null    object
 8   max       128 non-null    object
 9   critical  128 non-null    object
 10  categori  128 non-null    object
dtypes: object(11)
memory usage: 12.0+ KB

In [742]:
df_desember['tanggal'] = pd.to_datetime(df_desember['tanggal'])

In [743]:
df_desember = df_desember.astype({'pm10':int, 'pm25':int, 'so2':int, 'co':int, 'o3':int, 'no2':int, 'max':int})

#### Duplikat data

In [744]:
df_desember[df_desember.duplicated()]

Empty DataFrame
Columns: [tanggal, stasiun, pm10, pm25, so2, co, o3, no2, max, critical, categori]
Index: []

### Merge All Data

In [745]:
df_2021 = pd.concat([df_januari,df_februari,df_maret,df_april,df_mei,df_juni,df_juli,df_agustus,df_september,df_oktober,df_november,df_desember], ignore_index=True)
df_2021

,tanggal,stasiun,pm10,pm25,so2,co,o3,no2,max,critical,categori
0,2021-01-01,DKI1 (Bunderan HI),38,53,29,6,31,13,53,PM25,SEDANG
1,2021-01-02,DKI1 (Bunderan HI),27,46,27,7,47,7,47,O3,BAIK
2,2021-01-03,DKI1 (Bunderan HI),44,58,25,7,40,13,58,PM25,SEDANG
3,2021-01-04,DKI1 (Bunderan HI),30,48,24,4,32,7,48,PM25,BAIK
4,2021-01-05,DKI1 (Bunderan HI),38,53,24,6,31,9,53,PM25,SEDANG
...,...,...,...,...,...,...,...,...,...,...,...
1512,2021-12-27,DKI5 (Kebon Jeruk) Jakarta Barat,54,76,36,14,21,47,76,PM25,SEDANG
1513,2021-12-28,DKI5 (Kebon Jeruk) Jakarta Barat,44,68,20,11,21,33,68,PM25,SEDANG
1514,2021-12-29,DKI5 (Kebon Jeruk) Jakarta Barat,34,54,28,8,25,29,54,PM25,SEDANG
1515,2021-12-30,DKI5 (Kebon Jeruk) Jakarta Barat,53,75,25,15,23,44,75,PM25,SEDANG
1516,2021-12-31,DKI5 (Kebon Jeruk) Jakarta Barat,60,87,28,19,30,53,87,PM25,SEDANG

In [746]:
df_2021.isna().sum()

tanggal     0
stasiun     0
pm10        0
pm25        0
so2         0
co          0
o3          0
no2         0
max         0
critical    0
categori    0
dtype: int64

In [747]:
df_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1517 entries, 0 to 1516
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tanggal   1517 non-null   datetime64[ns]
 1   stasiun   1517 non-null   object
 2   pm10      1517 non-null   int64
 3   pm25      1517 non-null   int64
 4   so2       1517 non-null   int64
 5   co        1517 non-null   int64
 6   o3        1517 non-null   int64
 7   no2       1517 non-null   int64
 8   max       1517 non-null   int64
 9   critical  1517 non-null   object
 10  categori  1517 non-null   object
dtypes: datetime64[ns](1), int64(7), object(3)
memory usage: 130.5+ KB

In [748]:
# df.to_csv('data_polusi_udara_jakarta.csv', index=False)

### 2015

In [754]:
df_2015 = pd.read_csv('/home/yann/Documents/MSIB/Data Engineering Academy/8. Final Project/indeks-standar-pencemar-udara-di-spku-2015.csv')
df_2015

,2015-01-01,DKI1 (Bunderan HI),49.0,7.0,18.0,26.0,10.0,49.0.1,PM10,BAIK
0,2015-01-02,DKI1 (Bunderan HI),25.0,7.0,10.0,25.0,10.0,25.0,PM10,BAIK
1,2015-01-03,DKI1 (Bunderan HI),27.0,6.0,12.0,36.0,10.0,36.0,O3,BAIK
2,2015-01-04,DKI1 (Bunderan HI),22.0,5.0,10.0,38.0,12.0,38.0,O3,BAIK
3,2015-01-05,DKI1 (Bunderan HI),21.0,5.0,8.0,27.0,7.0,27.0,O3,BAIK
4,2015-01-06,DKI1 (Bunderan HI),29.0,7.0,11.0,27.0,11.0,29.0,PM10,BAIK
...,...,...,...,...,...,...,...,...,...,...
1437,2015-12-23,DKI5 (Kebon Jeruk),34.0,11.0,10.0,25.0,3.0,34.0,PM10,BAIK
1438,2015-12-24,DKI5 (Kebon Jeruk),44.0,11.0,11.0,23.0,3.0,44.0,PM10,BAIK
1439,2015-12-25,DKI5 (Kebon Jeruk),41.0,13.0,8.0,38.0,4.0,41.0,PM10,BAIK
1440,2015-12-27,DKI5 (Kebon Jeruk),53.0,11.0,14.0,46.0,5.0,53.0,PM10,SEDANG
1441,2015-12-28,DKI5 (Kebon Jeruk),55.0,12.0,10.0,36.0,7.0,55.0,PM10,SEDANG

### 2014

In [3]:
df_2014 = pd.read_csv('/home/yann/Documents/MSIB/Data Engineering Academy/8. Final Project/indeks-standar-pencemar-udara-di-spku-2014.csv', delimiter=';')
df_2014

,Tanggal,Stasiun,PM10,SO2,CO,O3,NO2,MAX,CRITICAL,CATEGORY
0,2014-01-01,DKI1 (Bunderan HI),77,3,39,54,13,77,PM10,SEDANG
1,2014-01-02,DKI1 (Bunderan HI),55,4,29,58,12,58,O3,SEDANG
2,2014-01-03,DKI1 (Bunderan HI),60,5,40,68,13,68,O3,SEDANG
3,2014-01-04,DKI1 (Bunderan HI),55,7,30,56,14,56,O3,SEDANG
4,2014-01-05,DKI1 (Bunderan HI),39,4,18,48,10,48,O3,BAIK
...,...,...,...,...,...,...,...,...,...,...
1820,2014-12-27,DKI5 (Kebon Jeruk),16,3,10,3,8,16,PM10,BAIK
1821,2014-12-28,DKI5 (Kebon Jeruk),19,3,24,3,9,24,CO,BAIK
1822,2014-12-29,DKI5 (Kebon Jeruk),11,3,8,3,3,11,PM10,BAIK
1823,2014-12-30,DKI5 (Kebon Jeruk),18,3,8,3,4,18,PM10,BAIK
1824,2014-12-31,DKI5 (Kebon Jeruk),14,3,5,3,2,14,PM10,BAIK